**/.DS_Store
**/bin
**/obj
**/*.user
**/*.suo
**/appsettings.Development.json
**/appsettings.local.json
**/.vs
**/.vscode
**/node_modules
**/.git
**/.gitignore
**/README.md
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/*.db
**/*.db-shm
**/*.db-wal
**/Migrations
